@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Inter';
  src: url('../components/fonts/Inter-Regular.woff2') format('woff2'),
      url('../components/fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
font-family: 'Opal';
src: url('../components/fonts/OpalOrbitRegular.woff2') format('woff2'),
    url('../components/fonts/OpalOrbitRegular.woff') format('woff');
font-weight: normal;
font-style: normal;
font-display: swap;
}
@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('../components/fonts/BeVietnamPro-Black.woff2') format('woff2'),
      url('../components/fonts/BeVietnamPro-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('../components/fonts/BeVietnamPro-BlackItalic.woff2') format('woff2'),
      url('../components/fonts/BeVietnamPro-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('../components/fonts/BeVietnamPro-ExtraBold.woff2') format('woff2'),
      url('../components/fonts/BeVietnamPro-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('../components/fonts/BeVietnamPro-ExtraBoldItalic.woff2') format('woff2'),
      url('../components/fonts/BeVietnamPro-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('../components/fonts/BeVietnamPro-Bold.woff2') format('woff2'),
      url('../components/fonts/BeVietnamPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('../components/fonts/BeVietnamPro-BoldItalic.woff2') format('woff2'),
      url('../components/fonts/BeVietnamPro-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('../components/fonts/BeVietnamPro-Italic.woff2') format('woff2'),
      url('../components/fonts/BeVietnamPro-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('../components/fonts/BeVietnamPro-ExtraLightItalic.woff2') format('woff2'),
      url('../components/fonts/BeVietnamPro-ExtraLightItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('../components/fonts/BeVietnamPro-LightItalic.woff2') format('woff2'),
      url('../components/fonts/BeVietnamPro-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('../components/fonts/BeVietnamPro-ExtraLight.woff2') format('woff2'),
      url('../components/fonts/BeVietnamPro-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('../components/fonts/BeVietnamPro-Light.woff2') format('woff2'),
      url('../components/fonts/BeVietnamPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('../components/fonts/BeVietnamPro-SemiBoldItalic.woff2') format('woff2'),
      url('../components/fonts/BeVietnamPro-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('../components/fonts/BeVietnamPro-Thin.woff2') format('woff2'),
      url('../components/fonts/BeVietnamPro-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('../components/fonts/BeVietnamPro-SemiBold.woff2') format('woff2'),
      url('../components/fonts/BeVietnamPro-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('../components/fonts/BeVietnamPro-Regular.woff2') format('woff2'),
      url('../components/fonts/BeVietnamPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('../components/fonts/BeVietnamPro-Medium.woff2') format('woff2'),
      url('../components/fonts/BeVietnamPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('../components/fonts/BeVietnamPro-MediumItalic.woff2') format('woff2'),
      url('../components/fonts/BeVietnamPro-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('../components/fonts/BeVietnamPro-ThinItalic.woff2') format('woff2'),
      url('../components/fonts/BeVietnamPro-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Be Vietnam Pro;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}


.bg1 {
  background: linear-gradient(180deg, #fff 25%, #bfa8fe 100%, #cffafe 100%);
}


@keyframes popUp {
  from {
    opacity: 0;
    transform: scale(0.9) translateY(-5px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-popUp {
  animation: popUp 0.18s ease-out;
}
